@using Microsoft.AspNetCore.Identity
@model Krg.Website.Areas.Admin.Models.CreateUserDto

<div class="row">
    <div class="col">
        <h1>Users</h1>
        <hr/>
        <div>
            @using (Html.BeginForm("CreateUser", "Users", new { area = "Admin" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="mb-3 row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        @Html.TextBox("Email", "", new {@class = "form-control", data_val = "true", placeholder = "Email", @data_val_required = "Email is required", autocomplete = "on"})
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        @Html.Password("Password", "", new {@class="form-control", id = "Password", placeholder = "Password", data_val = "true", @data_val_required = "Password is required", autocomplete = "off"})
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="repeatPassword" class="col-sm-2 col-form-label">Repeat password</label>
                    <div class="col-sm-10">
                        @Html.Password("RepeatPassword", "", new {@class="form-control", id = "RepeatPassword", placeholder = "Repeat the password", data_val = "true", @data_val_required = "Repeat password is required"})
                    </div>
                </div>
                <div class="mb-3 row">
                    <div>
                        <input type="submit" class="btn btn-outline-secondary float-end" value="Create"/>
                        @Html.ValidationSummary()
                    </div>
                </div>
            }
        </div>
    </div>
    @if (ViewData["Message"] != null)
    {
        <div>
            @ViewData["Message"]
        </div>
    }
</div>
<div class="row">
    <div class="col">
        List of users here

        <button id="btnDeactivateUser" class="btn btn-outline-secondary float-end" type="button" onclick="alert('Deactivate user')">Deactivate user</button>
        <button id="brntDeleteUser" class="btn btn-outline-secondary float-end" type="button" onclick="alert('Delete user')">Delete user</button>
        <button id="btnResetPassword" class="btn btn-outline-secondary float-end" type="button" onclick="resetPassword()">Reset password</button>
    </div>
</div>

@section Scripts
{
    <script>
        function resetPassword() {
            var data = {
                email: $('#Email').val()
            }

            console.log('resetPassword called for ' + data.email);

            $.ajax({
                type: 'POST',
                url: '/Admin/UsersApi/ResetPassword',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (result) {
                    console.log(result);
                }
            });
        }


    </script>
}
