@using Krg.Website.Models
@model Krg.Website.Areas.Admin.Models.EditEventDto
<div class="row">
    <h1>@Translations.Events.EventDetailsHeader</h1>
    @using (Html.BeginForm("Edit", "Events", FormMethod.Post, new { area = "Admin", @class = "row g-3" }))
    {
        <div class="col-6">
            @Html.AntiForgeryToken()
            <div class="mb-3 row">
                @Html.Label("Date", Translations.Events.DateLabel, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBox("Date", Model.Date, new { @class = "form-control", type = "date", placeholder = @DateTime.Now.Year, data_val = "true", @readonly = "readonly", @data_val_required = "År skal angives", autocomplete = "on" })
                </div>
            </div>
            <div class="mb-3 row">
                @Html.Label("ContactName", Translations.Events.NameLabel, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBox("ContactName", $"{Model.ContactName}", new { @class = "form-control", type = "text", placeholder = "Name", data_val = "true", @data_val_required = "Navn skal angives", autocomplete = "on" })
                </div>
            </div>
            <div class="mb-3 row">
                @Html.Label("ContactPhoneNo", Translations.Events.PhoneLabel, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBox("ContactPhoneNo", $"{Model.ContactPhoneNo}", new { @class = "form-control", type = "phone", placeholder = "Phone no", data_val = "true", @data_val_required = "Telefon skal angives", autocomplete = "on" })
                </div>
            </div>
            <div class="mb-3 row">
                @Html.Label("ContactEmail", Translations.Events.EmailLabel, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBox("ContactEmail", $"{Model.ContactEmail}", new { @class = "form-control", type = "email", placeholder = "Email", data_val = "true", @data_val_required = "Email skal angives", autocomplete = "on" })
                </div>
            </div>
            <div class="mb-3 row">
                @Html.Label("Note", Translations.Events.NoteLabel, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextArea("Note", $"{Model.Note}", new { @class = "form-control", type = "text", @rows="3", @maxlength="100", placeholder = "Noter kan skrives her. Max 100 karakterer", data_val = "false", autocomplete = "on" })
                </div>
            </div>
            <div class="float-end">
                @Html.Hidden("Id", Model.Id)
                @Html.ActionLink(Translations.Events.CancelButtonText, "Index", "Events", null, new { @class = "btn btn-outline-secondary" })
                <input type="submit" class="btn btn-outline-secondary" value="@Translations.Events.SaveButtonText"/>
            </div>
        </div>
    }
</div>