@using Krg.Domain
@using Krg.Services
@using Krg.Web.Controllers
@using System.Globalization
@using Krg.Web.Extensions
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<List<RegistrationViewModel>>

@{
	int i = 0;
}
@foreach (var eventItemGroup in Model.GroupBy(x => x.Content.Parent.Id))
{
	<div class="row row-cols1 row-cols-md-1 g-3">
		@{
			int j = 0;
		}
		@foreach (RegistrationViewModel eventItem in eventItemGroup)
		{
			<div class="col">
				<div class="card mb-3">
					<div class="row g-0">					
						<div class="col-md-2">
							<time datetime="@eventItem.Content.Date" class="icon">
								<em>@eventItem.Content.Date.ToString("ddd", new CultureInfo("da-DK"))</em>
								<strong>@eventItem.Content.Date.ToString("MMM", new CultureInfo("da-DK"))</strong>
								<span>@eventItem.Content.Date.Day</span>
							</time>
						</div>
						<div class="col-md-10">
							<div class="card-body">
								<h5 class="card-title">@eventItem.Content.Date.ToDkDate()</h5>
								<p class="card-text">
									<div>@Umbraco.GetDictionaryValueOrDefault("Kontaktperson", "Kontaktperson"): Jacob Mikkelsen <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#collapseInfo-@i-@j" role="button" aria-expanded="false" aria-controls="collapseInfo-@i-@j">[Kontaktinfo]</a></div>
									<div class="collapse" id="collapseInfo-@i-@j">
										<div>@Umbraco.GetDictionaryValueOrDefault("Email", "Email"): jacobtambourmikkelsen@gmail.com</div>
										<div>@Umbraco.GetDictionaryValueOrDefault("Tel", "Tel"): 21486949</div>										
									</div>
									<div>
										@Umbraco.GetDictionaryValueOrDefault("Tilmeldte", "Tilmeldte") @eventItem.TotalNoOfParticipants: (@eventItem.TotalNoOfAdults) @Umbraco.GetDictionaryValueOrDefault("Voksne", "Voksne") (@eventItem.TotalNoOfChildren) @Umbraco.GetDictionaryValueOrDefault("Børn", "Børn") (@eventItem.TotalNoOfTrailers) @Umbraco.GetDictionaryValueOrDefault("Trailer", "Trailer")
										<a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#collapseRegistrations-@i-@j" role="button" aria-expanded="false" aria-controls="collapseRegistrations-@i-@j">@Umbraco.GetDictionaryValueOrDefault("Deltagere", "Deltagere")</a>
									</div>
									<div class="collapse" id="collapseRegistrations-@i-@j">
										<div class="card card-body">
											<table class="table table-sm table-striped table-hover">
												<thead>
													<tr>
														<th scope="col">@Umbraco.GetDictionaryValueOrDefault("Spejder", "Spejder")</th>
														<th scope="col">@Umbraco.GetDictionaryValueOrDefault("Gren", "Gren")</th>
														<th scope="col">@Umbraco.GetDictionaryValueOrDefault("Voksne", "Voksne")</th>
														<th scope="col">@Umbraco.GetDictionaryValueOrDefault("Børn", "Børn")</th>
														<th scope="col">@Umbraco.GetDictionaryValueOrDefault("Trailer", "Trailer")</th>
													</tr>
												</thead>
												<tbody>
													@foreach (var registration in eventItem.Registrations.Where(x => x.ShowName))
													{
														<tr>
															<th scope="row">@registration.Name</th>
															<th scope="row">@registration.Department</th>
															<th scope="row">@registration.NoOfAdults</th>
															<th scope="row">@registration.NoOfChildren</th>
															<th scope="row">@(registration.BringsTrailer ? "Ja" : "Nej")</th>
														</tr>
													}
												</tbody>
											</table>
										</div>
									</div>
								</p>
							</div>
							<p>
								@* <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#collapseForm-@i-@j" role="button" aria-expanded="false" aria-controls="collapseForm-@i-@j">@Umbraco.GetDictionaryValueOrDefault("Tilmelding", "Tilmelding")</a>
								<div class="collapse" id="collapseForm-@i-@j">
									<div class="card card-body">
										<div class="col-md-8">
											@using (Html.BeginUmbracoForm<RegistrationSurfaceController>("HandleSubmit", null, new { @id = $"form-{@i}-{@j}" }))
											{
												<div class="mb-3">
													@Html.Label("Name", "Navn", new { @class = "visually-hidden" })
													@Html.TextBox("Name", "", new { @class = "form-control", placeholder = "Navn", @data_val = "true", @data_val_required = "Navn skal angives" })
												</div>
												<div class="mb-3">
													@Html.Label("Email", "Email", new { @class = "visually-hidden" })
													@Html.TextBox("Email", "", new { @class = "form-control", type = "email", placeholder = "Email", @data_val = "true", @data_val_required = "Email skal angives" })
												</div>
												<div class="mb-3">
													@Html.Label("Department", "Afdeling", new { @class = "visually-hidden" })
													@Html.TextBox("Department", "", new { @class = "form-control", placeholder = "Afdeling" })
												</div>
												<div class="mb-3">
													@Html.Label("PhoneNo", "Telefon", new { @class = "visually-hidden" })
													@Html.TextBox("PhoneNo", "", new { @class = "form-control", type = "tel", placeholder = "Telefon" })
												</div>
												<div class="mb-3">
													<div class="form-check form-switch">
														@Html.CheckBox("BringsTrailer", false, new { @class = "form-check-input", id = "bringsTrailer" })
														@Html.Label("BringsTrailer", "Medbringer trailer?", new { @class = "form-check-label" })
													</div>
												</div>
												<div class="mb-3">
													<div class="form-check form-switch">
														@Html.CheckBox("ShowName", false, new { @class = "form-check-input", id = "showName" })
														@Html.Label("ShowName", "Vis navn?", new { @class = "form-check-label" })
													</div>
												</div>
												@Html.ValidationSummary()
												@Html.Hidden("UmbracoNodeId", eventItem.Content.Id)
												@Html.Hidden("EventDate", eventItem.Content.Date)

												@if (eventItem.IsFullyBooked)
												{
													<span class="badge bg-danger">Fuldtegnet</span>
												}
												else
												{
													<input class="btn btn-primary" type="submit" value="[Tilmeld]" />
												}
											}
										</div>
									</div>
								</div> *@


								@* @using (Html.BeginUmbracoForm<RegistrationSurfaceController>("HandleSubmit"))
								{
									@Html.Label("Name", "Navn", new { @class = "visually-hidden" })
									@Html.TextBox("Name", "", new { @class = "form-control", placeholder = "Navn", @data_val = "true", @data_val_required = "Navn skal angives" })
									@Html.Label("Email", "Email", new { @class = "visually-hidden" })
									@Html.TextBox("Email", "", new { @class = "form-control", type = "email", placeholder = "Email", @data_val = "true", @data_val_required = "Email skal angives" })
									@Html.Label("Department", "Afdeling", new { @class = "visually-hidden" })
									@Html.TextBox("Department", "", new { @class = "form-control", placeholder = "Afdeling" })
									@Html.Label("PhoneNo", "Telefon", new { @class = "visually-hidden" })
									@Html.TextBox("PhoneNo", "", new { @class = "form-control", type = "tel", placeholder = "Telefon" })
									<div class="form-check form-switch">
										@Html.CheckBox("BringsTrailer", false, new { @class = "form-check-input", id = "bringsTrailer" })
										@Html.Label("BringsTrailer", "Medbringer trailer?", new { @class = "form-check-label" })
									</div>
									<div class="form-check form-switch">
										@Html.CheckBox("ShowName", false, new { @class = "form-check-input", id = "showName" })
										@Html.Label("ShowName", "Vis navn?", new { @class = "form-check-label" })
									</div>
									@Html.Hidden("UmbracoNodeId", eventItem.Content.Id)
									@Html.Hidden("EventDate", eventItem.Content.Date)

									@if (eventItem.IsFullyBooked)
									{
										<span class="badge bg-danger">[Fuldtegnet]</span>
									}
									else
									{
										<input class="btn btn-primary" type="submit" value="[Tilmeld]" />
									}
								} *@
								 	
								@if (eventItem.IsFullyBooked)
								{
									<span class="badge bg-danger">Fuldtegnet</span>
								}
								else
								{																			
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-@i-@j">
										[Tilmeld]
									</button>
								} 		 
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal -->
			  <div class="modal fade" id="exampleModal-@i-@j" tabindex="-1" aria-labelledby="exampleModalLabel-@i-@j" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel-@i-@j">[Tilmelding] - @eventItem.Content.Date.ToDkDate()</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="[Luk]"></button>
						</div>
						<div class="modal-body">
							@using (Html.BeginUmbracoForm<RegistrationSurfaceController>("HandleSubmit", null, new { @id = $"form-{@i}-{@j}" }))
							{
								<div class="mb-3">
									@Html.Label("Name", "Navn", new { @class = "visually-hidden" })
									@Html.TextBox("Name", "", new { @class = "form-control", placeholder = "Navn", @data_val = "true", @data_val_required = Krg.Domain.Constants.NameRequiredMessage, autocomplete = "on" })
								</div>
								<div class="mb-3">
									@Html.Label("Email", "Email", new { @class = "visually-hidden" })
									@Html.TextBox("Email", "", new { @class = "form-control", type = "email", placeholder = "Email", @data_val = "true", @data_val_required = Krg.Domain.Constants.EmailRequiredMessage, autocomplete = "on" })
								</div>
								<div class="mb-3">
									@Html.Label("Department", "Afdeling", new { @class = "visually-hidden" })
									@Html.DropDownList("Department", new SelectList(Enum.GetValues(typeof(Department))), "Afdeling", new { @class = "form-select form-select mb-3", @data_val = "true", @data_val_required = Krg.Domain.Constants.DepartmentRequiredMessage })
								</div>
								<div class="mb-3">
									@Html.Label("PhoneNo", "Telefon", new { @class = "visually-hidden" })
									@Html.TextBox("PhoneNo", "", new { @class = "form-control", type = "tel", placeholder = "Telefon" })
								</div>
								<div class="mb-3">
									<div class="form-check form-switch">
										@Html.CheckBox("BringsTrailer", false, new { @class = "form-check-input", id = "bringsTrailer" })
										@Html.Label("BringsTrailer", "Medbringer trailer?", new { @class = "form-check-label" })
									</div>
								</div>
								<div class="mb-3">
									<div class="form-check form-switch">
										@Html.CheckBox("ShowName", false, new { @class = "form-check-input", id = "showName" })
										@Html.Label("ShowName", "Vis navn?", new { @class = "form-check-label" })
									</div>
								</div>
								@Html.ValidationSummary()
								@Html.Hidden("UmbracoNodeId", eventItem.Content.Id)
								@Html.Hidden("EventDate", eventItem.Content.Date)								
							}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">[Luk]</button>
							@if (eventItem.IsFullyBooked)
							{
								<span class="badge bg-danger">[Fuldtegnet]</span>
							}
							else
							{
								<input class="btn btn-primary" type="submit" form="form-@i-@j" value="[Tilmeld]" />
							}
						</div>
					</div> 
				</div>
			</div>

			j++;		
		}		
	</div>
	i++;
}
