@using Krg.Website.Models

<div class="row shadow-sm p-3 mb-3 bg-body rounded">
    <div class="col">
        <div>
            <h1>@Translations.Registrations.RegistrationsHeader</h1>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                @using (Html.BeginForm("ExportAsExcel", "Registrations", FormMethod.Post, new { area = "Admin", @class = "row g-3" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col">
                        @Html.Label("StartDate", "StartDate", new { @class = "visually-hidden" })
                        @Html.TextBox("StartDate", DateOnly.FromDateTime(DateTime.UtcNow).ToString("yyyy-MM-dd"), new { @class = "form-control", type = "date", placeholder = DateOnly.FromDateTime(DateTime.UtcNow), @data_val = "true", @data_val_required = "Startdato skal angives", autocomplete = "on" })
                        @Html.ValidationMessage("StartDate")
                    </div>
                    <div class="col">
                        @Html.Label("EndDate", "EndDate", new { @class = "visually-hidden" })
                        @Html.TextBox("EndDate", DateOnly.FromDateTime(DateTime.UtcNow.AddMonths(6)).ToString("yyyy-MM-dd"), new { @class = "form-control", type = "date", placeholder = DateTime.Now.AddMonths(6), @data_val = "true", @data_val_required = "Slutdato skal angives", autocomplete = "on" })
                        @Html.ValidationMessage("EndDate")
                    </div>
                    <div class="col">
                        <input type="submit" name="submitExport" class="btn btn-outline-secondary" value="@Translations.Registrations.ButtonExportText"/>
                        <input type="submit" name="submitExport" class="btn btn-outline-secondary" value="@Translations.Registrations.ButtonExportGroupedText"/>
                        <button id="btnFetchRegistrations" class="btn btn-outline-secondary" type="button" onclick="FetchRegistrations()">
                            @Translations.Registrations.ButtonFetchRegistrationsText
                        </button>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Dato</th>
                        <th scope="col">Navn</th>
                        <th scope="col">Email</th>
                        <th scope="col">Afdeling</th>
                        <th scope="col">Antal voksne</th>
                        <th scope="col">Antal børn</th>
                        <th scope="col">Medbringer trailer</th>
                    </tr>
                    </thead>
                    <tbody id="registrations-parent">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>        
        function FetchRegistrations() {
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            
            if (startDate === '' || endDate === '')
            {
                return;
            }
        
            var data = {
                startDate: startDate,
                endDate: endDate
            }
            
            $('#btnFetchRegistrations').prop('disabled', true)
                .addClass('btn-disabled');

            $('#btnFetchRegistrations').append('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>\n' +
                '                <span class="visually-hidden">Loading...</span>');

            callApi('/Admin/Registrations/GetRegistrations', data, function () {
                $('#btnFetchRegistrations').prop('disabled', false)
                    .removeClass('btn-disabled');

                $('#btnFetchRegistrations .spinner-border').remove();
                $('#btnFetchRegistrations .visually-hidden').remove();
            });
        }

        function deleteRegistration(id) {
            if (confirm('@Translations.Registrations.AreYouSure')) {
                var data = {
                    id: id,
                    startDate: $("#StartDate").val(),
                    endDate: $("#EndDate").val()
                }

                callApi('/Admin/Registrations/Delete', data);
            }
        }

        function callApi(url, data, callback) {
            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (result) {
                    $('#registrations-parent').empty();

                    updateRegistrationsList(result);

                    if (typeof callback == "function")
                        callback();
                },
                error: function () {
                    alert('Failed to receive the Data');
                }
            });
        }

        function updateRegistrationsList(data) {
            $.each(data, function (k, v) {
                $('#registrations-parent')
                    .append(
                        '<tr>' +
                            '<th scope="row"><button type="button" class="btn btn-outline-danger" onClick="deleteRegistration(' + v.id + ')">@Translations.Registrations.ButtonDeleteRegistrationsText</button></th>' +
                            '<th scope="row">'+ v.eventDate + '</th>' +
                            '<th scope="row">'+ v.name + '</th>' +
                            '<th scope="row">'+ v.email + '</th>' +
                            '<th scope="row">'+ v.department + '</th>' +
                            '<th scope="row">'+ v.noOfAdults + '</th>' +
                            '<th scope="row">'+ v.noOfChildren + '</th>' +
                            '<th scope="row">'+ v.bringsTrailer + '</th>' +
                        '</tr>')
            });
        }    
    </script>
}


