@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SigninManager;
@model Krg.Website.Areas.Admin.Models.EditProfileDto

<div class="row">
    <div class="col">
        <div class="mb-3 row">
            <h1>Profile</h1>
        </div>
        @using (Html.BeginForm("EditProfile", "Profile", new { area = "Admin" }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    @Html.TextBox("Email", SigninManager.UserManager.GetUserName(User), new {@class = "form-control-plaintext", @readonly = "readonly", data_val = "true", @data_val_required = "Email is required", autocomplete = "on"})
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    @Html.Password("CurrentPassword", "", new {@class="form-control", id = "CurrentPassword", placeholder = "Password", data_val = "true", @data_val_required = "Password is required", autocomplete = "off"})
                    @Html.ValidationMessageFor(x => x.CurrentPassword)
                </div>
            </div>
            <div class="mb-3 row">
                <label for="newPassword" class="col-sm-2 col-form-label">New password</label>
                <div class="col-sm-10">
                    @Html.Password("NewPassword", "", new {@class="form-control", id = "NewPassword", placeholder = "New password", data_val = "true", @data_val_required = "New password is required"})
                    @Html.ValidationMessageFor(x => x.NewPassword)
                </div>
            </div>
            <div class="mb-3 row">
                <label for="repeatNewPassword" class="col-sm-2 col-form-label">Repeat new password</label>
                <div class="col-sm-10">
                    @Html.Password("RepeatNewPassword", "", new {@class="form-control", id = "RepeatNewPassword", placeholder = "Repeat the new password", data_val = "true", @data_val_required = "Repeat password is required"})
                    @Html.ValidationMessageFor(x => x.RepeatNewPassword)
                </div>
            </div>    
            <div class="mb-3 row">
                <div>
                    <input type="submit" class="btn btn-outline-secondary float-end" value="Submit"/>
                    <button id="btnResetPassword" class="btn btn-outline-secondary float-end" type="button" onclick="resetPassword()">Reset password</button>
                </div>
            </div>
        }
    </div>
    @if (ViewData["Message"] != null)
    {
        <div>
            @ViewData["Message"]
        </div>
    }
</div>

@section Scripts
{
    <script>
        function resetPassword() {
            var data = {
                email: $('#Email').val()
            }   
                     
            console.log('resetPassword called for ' + data.email);

            $.ajax({
                type: 'POST',
                url: '/Admin/ProfileApi/ResetPassword',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (result) {
                    console.log(result);
                }
            });
        }
    
    
    </script>
}
